<div class="row" *ngIf="!gameIsStarted; else spinner">
	<div class="col-sm-6">

		<div *ngFor="let player of players">
			<player-form [player]="player" 
										(onDeletePlayer)="deletePlayer($event)" 
										(onChangePlayer)="checkPlayersFields($event)">
			</player-form>
		</div>
		<button type="button" class="btn btn-primary" (click)="addPlayer()" [disabled]="players.length >= maxPlayersCount">
			Add Player
		</button>
		<button type="button" class="btn btn-success" (click)="startGame()" [disabled]="gameIsStarted || !isCorrectPlayersNumber || !playersValid">
				Start Game
		</button>

		<h3 class="text-danger" *ngIf="showMessage">
				Please fill all fields
		</h3>

	</div>
	<div class="col-sm-6">
		<img src="https://i.pinimg.com/originals/8f/55/db/8f55db3510472e3bd85af5d493421d8c.jpg" class="img-fluid" alt="Responsive image" width="200">
		<p class="lead" *ngIf="realBasketWeight">
			Real basket weight is <span class="text-danger">{{ realBasketWeight }}</span>
		</p>

		<div class="card" *ngIf="guessResult">
			<div class="card-body">

				<div *ngIf="guessResult.isWinner">
					<p class="lead">
						The winner is the player: <span class="text-danger">{{ guessResult.playerName }} </span>
					</p>
					<p class="lead">
						His total amount of attempts: <span class="text-danger">{{ guessResult.totalAttempts }} </span>
						<p>
				</div>

				<div *ngIf="!guessResult.isWinner">
					<p class="lead">
						The closest guess has the player: <span class="text-danger">{{ guessResult.playerName }}</span>
					</p>
					<p class="lead">
						His guess is: <span class="text-danger">{{ guessResult.closestGuessWeight }}</span>
					</p>
				</div>

			</div>
		</div>

	</div>

</div>

<ng-template #spinner>
		<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
			</div>
</ng-template>